body{
    max-width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.348);


    
}
img{
    width: 80%;
}
header>h1{
    background-color: yellow;
    text-align: center;
}

p, ul, li {
  font-family: sans-serif;  
  letter-spacing: 0.1em;
  color: rgb(49, 10, 121);
}
.link:hover {
    background-color: gold;
}

.link:visited {
    color: rgb(139, 41, 34);
}
.link{
    text-decoration: none;
}
table, th, td, tr{
    border: 2px;
    border-collapse: collapse;
    border-style: solid;
    /*flex-direction: column;*/
    font-family: sans-serif; 
    
}

q {
    
    font-size: 160%;
    font-style: italic;
    background-color: rgba(232, 216, 216, 0.887);
    width: 50%;
    height: auto;
    max-width:390px;
    text-align: center; 
    border-left: 3px solid firebrick; 
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table

}
#head{
    background-image:url(./img/image-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding-bottom: 300px;
    
}
.villager{
    border-left-color: rgb(16, 5, 115);
}
.farmer{
    border-left-color: green;
}
.good{
    color: green;
    text-transform: capitalize;
}
.bad{
    color: red;
    text-transform: capitalize;
    color: red;
}

.grey{
    background-color: grey;
}

.white{
    background-color: white;
}

#good{
    
    font-weight: bold;
    
}



.image{
  width: 20px;
}
.padding{
    padding: 50px;
    margin: 30px;
    border: 2px solid rgba(57, 90, 4, 0.571);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#flex2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#flex3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#table{
    width: 40%;
    height: 30%;
}

#footer{
    background-color: rgb(86, 115, 88);
}
.para{
    position: relative;
    right: 3px;
}